/*** COLORS ***/

$dark-grey: #303030;
$grey: #707070;
$light-grey: #9c9c9c;
$lightest-grey: #d1d1d1;
$lightest-grey1: #f6f6f6;
$shadow-grey: #d9d9d9;
$dark-red: #c60e2e;
$red: #e4163a;
$light-red: #ff5761;
$lightest-red: #ff768e;
$blue: #344472;
$light-blue: #f5fbff;
$white: #fff;
$card-gradient: linear-gradient(to bottom right, #707070, #393939);

/*** FONTS ***/
$primary-font: 'Avenir', sans-serif;

/*** SIZES ***/

$header-height: 5rem;
$min-team-card-w: 22.75rem;

/*** BORDERS ***/
$default-border: 0.5px solid $light-grey;
