@mixin cards {
  .subgrid {
    display: grid;
    grid-area: subgrid;
    grid-template-columns: $subgrid-columns;
    grid-auto-rows: min-content;
    grid-gap: 1.25vw;
    align-items: start;

    @media (max-width: 768px) {
      grid-template-columns: $subgrid-columns-768;
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: subgrid;
    justify-self: center;
    align-self: center;
    flex-shrink: 0;
    width: $empty-w;
    background-color: $white;
    border-radius: $empty-br;
    padding: $empty-p;

    @media (max-width: 930px) {
      align-self: self-start;
      width: $empty-w-930;
      border-radius: $empty-br-930;
      padding: $empty-p-930;
    }

    &__img {
      width: 100%;
      max-width: 30.125rem;
    }

    &__title {
      color: $lightest-red;
      font-weight: 800;
      font-size: $empty-title-fs;
      line-height: $empty-title-lh;
      margin-top: 3rem;
      margin-bottom: $empty-title-mb;
      text-align: center;

      @media (max-width: 930px) {
        margin-bottom: $empty-title-mb-930;
        font-size: $empty-title-fs-930;
        line-height: $empty-title-lh-930;
      }
    }

    &__subtitle {
      font-size: $empty-subtitle-fs;
      line-height: $empty-subtitle-lh;
      text-align: center;

      @media (max-width: 930px) {
        font-size: $empty-subtitle-fs-930;
        line-height: $empty-subtitle-lh-930;
      }
    }
  }

  @media (max-width: 1050px) {
    .subgrid {
      margin: $grid-items-m-1050;
    }
  }

  @media (max-width: 930px) {
    .subgrid,
    .empty {
      margin-bottom: $grid-mb-930;
    }
  }
}
